* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
h2 {
  color: #111;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
  background-image: url(pt.jpg);
  background-size: cover;
}
.square {
  width: 20px;
  height: 30px;
  background: #fff;
  margin: 2px;
  box-shadow: 0 0 2px #fefefe;
  opacity: 0.1;
  transition: 2s ease;
}
.square:hover{
  transition-duration: 0s;
  opacity: 1;
}